@model EditProjectModel
@{
    ViewData["Title"] = "Edit";
}
<div class="row" id="addProject">
    <div class="col-md-8" id="addProjectDiv">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h3 class="text-danger">@TempData["messageEdit"]</h3>
            <h4>Create a new project.</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" rows="4" style="resize:none;"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" type="url" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            <div class="col">
                <label asp-for="StartDate"></label>
                <input asp-for="StartDate" class="form-control" type="date" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="EndDate"></label>
                <input asp-for="EndDate" class="form-control" type="date" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Goal"></label>
                <input asp-for="Goal" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="Goal" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Add Project</button>
        </form>
    </div>
</div>