@model string
@{
    ViewData["Title"] = "Funding";
}

<div class="buttonsHome">
    <div class="greetings">
        <p> @(DateTime.Now.Hour < 11 ? "Good morning" : "Greetings") @Model ! </p>
        <p>You can :</p>
    </div>
    <div>
        <a asp-action="Index" asp-controller="Project" class="btn btn-info" id="exploreHome">
            Explore our projects
        </a>
    </div>

    <em style="color:white;padding-left:110px; margin-bottom:10px; margin-top:100px;">or</em>
    <br />
    <div>
        <a asp-action="Add" asp-controller="Project" class="btn btn-success" id="addHome">
            Add your own project
        </a>
    </div>
</div>