<a asp-area="" asp-controller="Home" asp-action="Index">
    <img border="0" style="background-color:transparent" alt="back" src="~/images/back.png" width="50" height="60">
</a>
@if (this.User.IsInRole(Roles.Admin))
{
    <div style="padding-left:500px;">
        <a asp-area="Admin" asp-controller="Users" asp-action="All" class="btn btn-warning">Users </a>
        <a asp-area="ProjectAdmin" asp-action="All" asp-controller="Projects" class="btn btn-info">Projects</a>
    </div>
}